<nav class="navbar-default navbar navbar-expand-lg">
        <a id="nav-toggle" href="#">
            <i class="fe fe-menu"></i>
        </a>
        <!--Navbar nav -->
        <div class="ms-auto d-flex">
            <div class="dropdown">
                <button class="btn btn-light btn-icon rounded-circle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                    <i class="bi theme-icon-active"></i>
                    <span class="visually-hidden bs-theme-text">Toggle theme</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                            <i class="bi theme-icon bi-sun-fill"></i>
                            <span class="ms-2">Clair</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                            <i class="bi theme-icon bi-moon-stars-fill"></i>
                            <span class="ms-2">Sombre</span>
                        </button>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav navbar-right-wrap ms-2 d-flex nav-top-wrap">
                <!-- List -->
                <li class="dropdown ms-2">
                    <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="avatar avatar-md avatar-indicators avatar-online">
                            {% if app.user.photoProfil %}
                                <img alt="avatar" src="{{ asset('uploads/' ~ app.user.photoProfil) }}" class="rounded-circle" />
                            {% else %}
                                <span class="avatar-img rounded-circle d-flex align-items-center justify-content-center bg-light text-secondary-emphasis position-relative" style="width:48px;height:48px;">
                                    <i class="bi bi-person fs-3 position-absolute top-50 start-50 translate-middle" style="opacity:0.5;"></i>
                                </span>
                            {% endif %}
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                        <div class="dropdown-item">
                            <div class="d-flex">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    {% if app.user.photoProfil %}
                                        <img alt="avatar" src="{{ asset('uploads/' ~ app.user.photoProfil) }}" class="rounded-circle" />
                                    {% else %}
                                        <span class="avatar-img rounded-circle d-flex align-items-center justify-content-center bg-light text-secondary-emphasis position-relative" style="width:48px;height:48px;">
                                            <i class="bi bi-person fs-3 position-absolute top-50 start-50 translate-middle" style="opacity:0.5;"></i>
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="ms-3 lh-1">
                                    <h5 class="mb-1">{{ app.user.nom }} {{ app.user.prenom }}</h5>
                                    <p class="mb-0">{{ app.user.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}">
                                    <i class="fe fe-user me-2"></i>
                                    Profil
                                </a>
                            </li>   
                        </ul>
                        <div class="dropdown-divider"></div>
                        <ul class="list-unstyled">
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="fe fe-power me-2"></i>
                                    Se déconnecter
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>