<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Codescandy" />
        <!-- Favicon icon-->
        <link rel="shortcut icon" type="image/x-icon" href="https://geeksui.codescandy.com/geeks/assets/images/favicon/favicon.ico" />
        <!-- darkmode js -->
        <script src="{{ asset('assetsback/js/vendors/darkMode.js') }}"></script>

        {% block stylesheets %}
            <!-- Libs CSS -->
            <link href="{{ asset('assetsback/fonts/feather/feather.css') }}" rel="stylesheet" />
            <link href="{{ asset('assetsback/libs/bootstrap-icons/font/bootstrap-icons.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assetsback/libs/simplebar/dist/simplebar.min.css') }}" rel="stylesheet" />
            <!-- Theme CSS -->
            <link rel="stylesheet" href="{{ asset('assetsback/libs/flatpickr/dist/flatpickr.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assetsback/css/theme.min.css') }}">
        {% endblock %}

        <link rel="canonical" href="dashboard-analytics.html" />

        <title>{% block title %}Admin Dashboard{% endblock %}</title>

    </head>

    <body>
        {% block body %}

        {% endblock %}
        
        <!-- Libs JS (dependencies first) -->
            <script src="{{ asset('assetsback/libs/@popperjs/core/dist/umd/popper.min.js') }}"></script>
            <script src="{{ asset('assetsback/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assetsback/libs/simplebar/dist/simplebar.min.js') }}"></script>

            <!-- Plugins / extra libraries -->
            <script src="{{ asset('assetsback/libs/jsvectormap/dist/jsvectormap.min.js') }}"></script>
            <script src="{{ asset('assetsback/libs/jsvectormap/dist/maps/world.js') }}"></script>
            <script src="{{ asset('assetsback/libs/apexcharts/dist/apexcharts.min.js') }}"></script>
            <script src="{{ asset('assetsback/js/vendors/chart.js') }}"></script>
            <script src="{{ asset('assetsback/libs/flatpickr/dist/flatpickr.min.js') }}"></script>
            <script src="{{ asset('assetsback/js/vendors/flatpickr.js') }}"></script>

            <!-- Theme / template JS (last!) -->
            <script src="{{ asset('assetsback/js/theme.min.js') }}"></script>
    </body>
</html>