<!DOCTYPE html>

<title>Collections</title>

{% block body %}
    <h1>Collections</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collection.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ collection.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ collection.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collections_index') }}">back to list</a>

    <a href="{{ path('app_collections_edit', {'id': collection.id}) }}">edit</a>

    {{ include('collections/_delete_form.html.twig') }}
{% endblock %}
